<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.icegem.stuffapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.CollectionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CollectionViewActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:parentActivityName=".ui.CollectionActivity" >
        </activity>
        <activity
            android:name=".ui.CollectionEditActivity"
            android:excludeFromRecents="true"
            android:label="@string/edit_collection"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.ItemViewActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:parentActivityName=".ui.CollectionActivity" >
        </activity>
        <activity
            android:name=".ui.ItemEditActivity"
            android:excludeFromRecents="true"
            android:label="@string/edit_item"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.TextEditActivity"
            android:excludeFromRecents="true"
            android:label="@string/translations"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:parentActivityName=".ui.CollectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CollectionActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ui.CollectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CollectionActivity" />
        </activity>
        <activity
            android:name=".ui.TypeEditActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_type_settings"
            android:parentActivityName=".ui.CollectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CollectionActivity" /> >
        </activity>
    </application>

</manifest>
